<div class="scroll mymoveright">

  <div>
    <!-- <div style="float: left;   margin: 20px;">
    <img src="../../assets/images/pexels-travel1.jpg" class="roundimg" />
  </div> -->
    <div style="float: left;   margin: 20px;">
      <i class="fa fa-angle-left" aria-hidden="true" (click)="backtohome()"></i>

    </div>
    <div style="float:right; margin: 25px;">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
  </div>

  <div>
    <h2 style="padding-top: 50px;padding-left: 50px;">The Instanbul<br> Turkey!</h2>

  </div>

  <div class="main mymoveright">
    <div class="card " *ngFor="let list of tourdetail ; let i = index">
      <div style="float: left;   margin: 20px;">
        <img src={{list.image}} class="roundimg" />
      </div>
      <div style="    transform: translate(5px, -261px);">
        <div class="b1">{{list.lable}}</div>
        <div class="b2">{{list.rating}}<i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="scrollmenu">
      <a (click)="showtab('About')" [ngClass]="{'botline1': show == 'About', 'botline2' : show != 'About' }">About</a>
      <a (click)="showtab('Price')" [ngClass]="{'botline1': show == 'Price', 'botline2' : show != 'Price' }">
        Detail </a>
      <!-- <a>Images</a> -->
    </div>
  </div>

  <div class="para mymoveleft" *ngIf="show == 'About'">
    <p>Without a doubt, Turkey is one of the world’s hottest tourist destinations. Ranking as the 6th most visited
      country in the world in 2011, the total number of international tourists nearly doubled between 2004 and 2011.
      During my travels, I constantly heard rave reviews for the country, and was super impressed myself by the beauty
      and diversity of the country.</p>
  </div>
  <div class="para mymoveright" *ngIf="show == 'Price'">
    <ul>
      <li style="padding-bottom: 5px;">10kg Bag Include</li>
      <li style="padding-bottom: 5px;">Meal include</li>
      <li style="padding-bottom: 5px;">2 person Include</li>

    </ul>
  </div>




  <div>

    <!-- <div style="float: left;   margin: 20px;">
      <button class="price">$3000</button>
    </div>
    <div style="float:right; margin: 25px;">
      <button class="buy">Buynow $3000</button>
    </div> -->
    <div style="margin: 25px;">
      <button class="buy">Book Now $3000</button>
    </div>
  </div>

</div>