<div class="scroll">

  <div>
    <!-- <div style="float: left;   margin: 20px;">
    <img src="../../assets/images/pexels-travel1.jpg" class="roundimg" />
  </div> -->
    <div style="float: left;   margin: 20px;">
      <i class="fa fa-angle-left" aria-hidden="true" (click)="backtohome()"></i>

    </div>
    <div style="float:right; margin: 25px;">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
  </div>

  <div>
    <h1 style="padding-top: 80px;padding-left: 4%;">The Instanbul<br> Turkey!</h1>

  </div>


  <div class="card">
    <div style="float: left;   margin: 20px;">
      <img src="../../assets/images/pexels-travel1.jpg" class="roundimg" />
    </div>
    <div style="    transform: translate(5px, -261px);">
      <div class="b1">The Instanbul</div>
      <div class="b2">4.5<i class="fa fa-star"></i>
      </div>
    </div>


  </div>
</div>