<div>
  <app-sidebar></app-sidebar>
</div>
<div style="margin-top :100px;"></div>
<div *ngFor="let flighthistory of this.flightdataCopy; let i = index" class="card wrap mymoveright">
  <span class="left">{{flighthistory.fromlocation.fromcity}} <span
      class="fromcountry">{{flighthistory.fromlocation.fromcountry}}</span> <i Class="fa fa-plane "></i>
  </span>
  <span class="center">{{flighthistory.cityname }} <span class="fromcountry">
      {{ flighthistory.countryname}}</span></span>
  <span class="right" (click)="showhistory(i)">{{flighthistory.cityprice}}</span>
  <img *ngIf="this.Show " src="{{ flighthistory.airlineimg }}" class="img" alt="" />

</div>