<div class="scroll">
  <div style="width: 100%;height: 100%;width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: -1px -162px 113px -9px rgb(2 7 28) inset;"> </div>
  <div class="hero-text">
    <h1 style="font-size:32px">Enjoy Every Moment with us!</h1>

    <button class="Signin">Sign In</button>
    <h3 class="account">Create an acount</h3>
  </div>
  <img src="../../assets/images/pexels-travel1.jpg" style="width: 100vw;
    height: 100%;
    object-fit: cover;" alt="">
</div>