<div *ngIf="global.showSideBar " (click)="toggleSideBar()" class="sidebarcontainer">
  <div class="sidebar mymove-sidebarleft">
    <div class="profile">
      <div class="profileimg">
        <img src="../../assets/images/user1.jpg" class="roundimg" />
      </div>
      <h2>Alex John</h2>
    </div>
    <div class="sidemenu">
      <h3 class="sidemenupad" (click)="gotohome()"><i class="fa fa-home" aria-hidden="true"></i>
        Home</h3>
      <h3 class="sidemenupad" (click)="gototour()">   <i class="fa fa-plane" aria-hidden="true">  </i>
             Your tours</h3>
      <h3 class="sidemenupad" (click)="gotologout()"><i class="fa fa-sign-out" aria-hidden="true"></i>
        Logout</h3>
    </div>

  </div>
</div>