.roundimg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}


.sidebarcontainer {
    position: fixed;
    z-index: 111;
    background-color: #0000004a;
    width: 100%;
    height: 100vh;
    top: 0;
}

@keyframes mymoveleft {
    from {
        left: 300px;
    }

    to {
        left: 0px;
    }
}


.mymove-sidebarleft {

    position: relative;
    animation: mymoveleft 0.2s;
}

.profile {
    left: 114px !important;
    top: 18px;
    position: absolute;
}

.profileimg {
    position: absolute;
    right: 150px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solidp rgb(255, 130, 151);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.sidemenu {
    position: absolute;
    top: 128px;
    left: 27px;
    color: white;
    cursor: pointer;
}

.sidemenupad {
    padding-top: 15px;
}


.sidebar {
    /* width           : 70vw; */
    width: 250px;
    /* height          : 100vh; */
    height: 100vh;

    background-color: #F36F7C;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: right;
}

.fa-home {
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
}

.fa-plane {
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
}

.fa-sign-out {
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
}