<div class="scroll  mymoveright">
  <div>
    <div class="topprofileimg">
      <img src="../../assets/images/user1.jpg" class="roundimg" />
    </div>
    <div style="float: right; margin: 25px ;cursor: pointer;" (click)="showsidebar()">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
  </div>

  <div *ngIf="sidebarshow" (click)="showsidebar()" class="sidebarcontainer">
    <div class="sidebar mymove-sidebarleft">
      <div class="profile">
        <div class="profileimg">
          <img src="../../assets/images/user1.jpg" class="roundimg" />
        </div>
        <h2>Alex John</h2>
      </div>
      <div class="sidemenu">
        <h3 class="sidemenupad" (click)="gotohome()">Home</h3>
        <h3 class="sidemenupad">Setting</h3>
        <h3 class="sidemenupad" (click)="gotologout()">Logout</h3>
      </div>

    </div>
  </div>


  <div>
    <h1 style="padding-top: 80px; padding-left: 40px">
      Discover<br />
      world with us!
    </h1>
  </div>

  <div class="container">
    <div style="
        display: flex;
        /* margin-left: 50px; */
        position: relative;
        width: 75%;
      ">
      <input type="text" placeholder="Search.." [(ngModel)]="search" />
      <button type="submit" class="searchbtn">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="container">
    <button [ngClass]="show == 'tourlist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('tourlist')">
      <i [ngClass]="show == 'tourlist' ? 'fa fa-plane enab' : 'fa fa-plane dis'"></i>
    </button>
    <!-- 
  if(show == tourlist){
class = 'enab'
  }
  else{
class = 'dis'
  }
 -->
    <button [ngClass]="show == 'hotellist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('hotellist')">
      <i [ngClass]="
          show == 'hotellist' ? 'fa fa-building enab' : 'fa fa-building dis'
        "></i>
    </button>
    <button [ngClass]="show == 'buslist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('buslist')">
      <i [ngClass]="show == 'buslist' ? 'fa fa-bus enab' : 'fa fa-bus dis'"></i>
    </button>
    <button [ngClass]="show == 'offerlist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('offerlist')"><i
        [ngClass]="show == 'offerlist' ? 'fa fa-percent enab' : 'fa fa-percent dis'"></i></button>
  </div>

  <div class="container">
    <div class="scrollmenu">
      <a>New</a>
      <a>Most viewed</a>
      <a>Hot tour</a>
      <a>All</a>
    </div>
  </div>

  <!-- *ngIf="(tourData | filter:search) as listdata" -->
  <div *ngIf="show == 'tourlist'">
    <div class="main mymoveright" *ngIf="tourData | filter: search as listdata">
      <div *ngFor="let list of listdata; let i = index" style="margin-right: 5%; cursor: pointer"
        (click)="gotodetail()">
        <div class="container1"></div>
        <div class="hero-text">
          <h1 style="font-size: 26px; padding-left: 10%">
            {{ list.placename }}
          </h1>
          <h1 style="font-size: 20px">
            <i class="fa fa-map-marker"></i>{{ list.country }}
          </h1>
        </div>
        <img src="{{ list.image }}" class="img" alt="" />
      </div>
    </div>
  </div>
  <div *ngIf="show == 'hotellist'">
    <div class="main mymoveright" *ngIf="hotelData | filter: search as listdata">
      <div *ngFor="let list of listdata; let i = index" style="margin-right: 5%; cursor: pointer"
        (click)="gotodetail()">
        <div class="container1"></div>
        <div class="hero-text">
          <h1 style="font-size: 26px; padding-left: 10%">
            {{ list.placename }}
          </h1>
          <h1 style="font-size: 20px">
            <i class="fa fa-map-marker"></i>{{ list.country }}
          </h1>
        </div>
        <img src="{{ list.image }}" class="img" alt="" />
      </div>
    </div>
  </div>

  <div *ngIf="show == 'buslist'">
    <div class="main mymoveright" *ngIf="busData | filter: search as listdata">
      <div *ngFor="let list of listdata; let i = index" style="margin-right: 5%; cursor: pointer"
        (click)="gotodetail()">
        <div class="container1"></div>
        <div class="hero-text">
          <h1 style="font-size: 26px; padding-left: 10%">
            {{ list.placename }}
          </h1>
          <h1 style="font-size: 20px">
            <i class="fa fa-map-marker"></i>{{ list.country }}
          </h1>
        </div>
        <img src="{{ list.image }}" class="img" alt="" />
      </div>
    </div>
  </div>
  <div *ngIf="show == 'offerlist'" class="mymoveright">
    <div style="display: flex; justify-content: center;align-items: center;">
      <img src="./../../assets/images/offer2.jpg" width="100px" alt="" /><br>
    </div>
    <h3 style="text-align: center;">No offer here</h3>
    <h4 style="text-align: center; color: gainsboro;    line-height: 0px;">Coming Soon</h4>

  </div>
</div>