<div class="scroll  mymoveright">
  <!-- <div>
    <div class="topprofileimg">
      <img src="../../assets/images/user1.jpg" class="roundimg" />
    </div>
    <div style="float: right; margin: 25px ;cursor: pointer;">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
  </div> -->


  <app-sidebar></app-sidebar>

  <div>
    <h1 style="padding-top: 70px; padding-left: 40px">
      Discover<br />
      world with us!
    </h1>
  </div>

  <form [formGroup]="mygroup">
    <div class="container">
      <div style="
      display: flex;
      position: relative;
      width: 75%;
    ">
        <input type="text" placeholder="Search.." formControlName="search" />
        <button type="submit" class="searchbtn">
          <i class="fa fa-search" (click)=" filterData()"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- <p> form value : {{mygroup.value | json}}</p> -->
  <!-- <div class="container">
    <div style="
    display: flex;
    position: relative;
    width: 75%;
  ">
      <input type="text" placeholder="Search.." [(ngModel)]="search" />
      <button type="submit" class="searchbtn">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div> -->

  <div class="container">
    <button [ngClass]="show == 'tourlist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('tourlist')">
      <i [ngClass]="show == 'tourlist' ? 'fa fa-plane enab' : 'fa fa-plane dis'"></i>
    </button>

    <button [ngClass]="show == 'hotellist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('hotellist')">
      <i [ngClass]="
          show == 'hotellist' ? 'fa fa-building enab' : 'fa fa-building dis'
        "></i>
    </button>
    <button [ngClass]="show == 'buslist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('buslist')">
      <i [ngClass]="show == 'buslist' ? 'fa fa-bus enab' : 'fa fa-bus dis'"></i>
    </button>
    <button [ngClass]="show == 'offerlist' ? 'btnn1' : 'btnn0'" (click)="gototourdata('offerlist')"><i
        [ngClass]="show == 'offerlist' ? 'fa fa-percent enab' : 'fa fa-percent dis'"></i></button>
  </div>

  <div class="container">
    <div class="scrollmenu " *ngIf="show == 'tourlist'">
      <a (click)="tab(1)" [ngClass]="id == 1 ? 'a1' : 'a2'">New</a>
      <a (click)="tab(2)" [ngClass]="id == 2 ? 'a1' : 'a2'">Most viewed</a>
      <a (click)="tab(3)" [ngClass]="id == 3 ? 'a1' : 'a2'">Hot tour</a>
      <a (click)="tab(-1)" [ngClass]="id == -1 ? 'a1' : 'a2'">All</a>
    </div>
  </div>


  <div *ngIf="showloader" style="    display        : flex;
  justify-content: center;">
    <div class="loader"></div>
  </div>
  <div *ngIf="show == 'tourlist'">
    <!-- *ngIf="tourData | filter: search as listdata" -->
    <div class="main mymoveright" *ngIf="tourData as listdata">
      <div *ngFor="let list of listdata; let i = index" style="margin-right: 5%; cursor: pointer"
        (click)="gotodetail()">
        <div class="container1"></div>
        <div class="hero-text">
          <h1 style="font-size: 26px; padding-left: 10%">
            {{ list.placename }}
          </h1>
          <h1 style=" font-size: 20px">
            <i class="fa fa-map-marker"></i>{{ list.country }}
          </h1>
        </div>
        <img src="{{ list.image }}" class="img" alt="" />
      </div>
    </div>
  </div>
  <div [ngClass]="{ nodata: tourData.length == 0 }">
    <label *ngIf="tourData.length === 0 ">No Match Found</label>
  </div>
  <div *ngIf="show == 'hotellist'">
    <!-- *ngIf="hotelData | filter: search as listdata" -->
    <div class="main mymoveright" *ngIf="hotelData as listdata">
      <div *ngFor="let list of listdata; let i = index" style="margin-right: 5%; cursor: pointer"
        (click)="gotodetail()">
        <div class="container1"></div>
        <div class="hero-text">
          <h1 style="font-size: 26px; padding-left: 10%">
            {{ list.placename }}
          </h1>
          <h1 style="font-size: 20px">
            <i class="fa fa-map-marker"></i>{{ list.country }}
          </h1>
        </div>
        <img src="{{ list.image }}" class="img" alt="" />
      </div>
    </div>
  </div>

  <div *ngIf="show == 'buslist'">
    <!-- *ngIf="busData | filter: search as listdata" -->
    <div class="main mymoveright" *ngIf="busData  as listdata">
      <div *ngFor="let list of listdata; let i = index" style="margin-right: 5%; cursor: pointer"
        (click)="gotodetail()">
        <div class="container1"></div>
        <div class="hero-text">
          <h1 style="font-size: 26px; padding-left: 10%">
            {{ list.placename }}
          </h1>
          <h1 style="font-size: 20px">
            <i class="fa fa-map-marker"></i>{{ list.country }}
          </h1>
        </div>
        <img src="{{ list.image }}" class="img" alt="" />
      </div>
    </div>
  </div>
  <div *ngIf="show == 'offerlist'" class="mymoveright">
    <div style="display: flex; justify-content: center;align-items: center;">
      <img src="./../../assets/images/offer2.jpg" width="100px" alt="" /><br>
    </div>
    <h3 style="text-align: center;">No offer here</h3>
    <h4 style="text-align: center; color: gainsboro;    line-height: 0px;">Coming Soon</h4>

  </div>



</div>