.roundimg{
    width: 50px;
    height: 50px;
 
    border-radius: 50px;
}


.line1 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius:20px
  }
  .line2 {
    width: 25px;
    height: 5px;
    background-color: black;
    margin-left: 9px ;
    border-radius:20px
  }

  .container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 60px;
    margin-left: 40px;
  
}

input:focus {
    outline: none;
    border : 4px solid #EEEEEE;
    color  : #000000;
}
input {
    outline: none;
    border : 3px solid #EEEEEE;
    color  : #000000;
    background-color: #EEEEEE;
    padding: 24px;
    border-radius: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -7px;
}

.fa-search{
    padding: 15px;
    font-size: 14px;
 color: whitesmoke;
}

.searchbtn{
    transform: translate(-65px, 0px);
    background-color: #F36F7C;
    border: 0;
    height: 55px;
    border-radius: 20px;
}

.btn1{
    background-color: #F36F7C;
    border: 0;
    height: 55px;
    border-radius: 20px;
    margin-right: 3%;
}
.fa-plane{
    padding: 15px;
    font-size: 20px;
 color: whitesmoke;
}

.btn2{
    background-color: #FCE2E5;
    border: 0;
    height: 55px;
    border-radius: 20px;
    margin-right: 3%;
}

.fa-building{
    padding: 15px;
    font-size: 20px;
 color: #F36F7C;
}
.btn3{
    background-color: #FCE2E5;
    border: 0;
    height: 55px;
    border-radius: 20px;
    margin-right: 3%;
}

.fa-camera{
    padding: 15px;
    font-size: 20px;
 color: #F36F7C;
}
.btn4{
    background-color: #FCE2E5;
    border: 0;
    height: 55px;
    border-radius: 20px;
    margin-right: 3%;
}
.fa-bus{
    padding: 15px;
    font-size: 20px;
 color: #F36F7C; 
}