/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    margin     : 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes mymoveright {
    from {
        left: 300px;
    }

    to {
        left: 0px;
    }
}

.mymoveright {
    position : relative;
    animation: mymoveright 0.5s;
}

@keyframes mymoveleft {
    from {
        right: 300px;
    }

    to {
        right: 0px;
    }
}

.mymoveleft {
    position : relative;
    animation: mymoveleft 0.5s;
}

body {
    font-family: sans-serif;
}